@tailwind base;
@tailwind components;
@tailwind utilities;
select,
option {
  font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji",
    sans-serif;
}

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
